.hidden{
    display: none;
}

@font-face{
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-style: normal;
      }
}

#container{
    width: 430px;
    margin: 20px auto;
    border: solid 3px black;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

#maincontent{
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

header{
    grid-column: 1/-1;
    background-image: url(../images/newspic2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

header h2{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: darkorange;
    letter-spacing: 5px;
}

article{
    grid-column: 1/-1;
}

p::first-letter {
    font-size: 200%;
    color: darkorange;
    font: bolder;
    background-color: #000000;
    border-radius: 20px ;
  }

h3{
    font-family: "Roboto", sans-serif;
    font: bold;
    color: darkorange;
}  

p{
    color: white;
}

.line{
    grid-column: 1/-1;
    border-top: 2px solid white;
    margin-top: 40px;
    padding-top: 25px;
}

footer{
    opacity: 70%;
    font-family: "Roboto", sans-serif;
    text-size-adjust: 10px;
    
}
